.App{
    background-image: url(../public/img/glassesImage/Beach.jpg);
    background-position: center;
    background-size: cover;
    height: 650px;
}
.model__left,.model__right{
    text-align: center;
}
.model__right{
    position: relative;
}
.model__glass{
    position: absolute;
    left: 85px;
    top: 82px;
}
.model__right .model__glass img{
    opacity: 0.8;
    width: 35%;
}
.model__left img{
    width: 50%;
}
.model__right img{
    width: 50%;
}
.img__glass img{
    width: 100%;
}
.img__glass .col-2{
    background-color: white;
    border: solid 1px;
}
.text{
    position: absolute;
    bottom: 0;
    left: 26%;
    background-color: orange;
    opacity: 0.65;
    width: 48%;
}